<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section>
            <form action="https://api.web3forms.com/submit" id=form method="POST">
                <input type="hidden" name="access_key" value="4d3a6c07-7fed-4d90-8274-16aceb25e490">
                <div class="field half first">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required="required" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email" required="required"/>
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" required="required"></textarea>
                </div>
                <p class="text-base text-center " id="result"></p>
                <ul class="actions">
                    <li><button id="submit" type="submit" class="button special">Submit</button></li>
                </ul>
            </form>
            <div id="thank-you-box" class="box" hidden="hidden">
                <p>Thanks for getting in touch, I'll try to respond within two working days.</p>
            </div>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </section>
            {% if site.phone %}
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-phone"></span>
                    <h3>Phone</h3>
                    <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
                </div>
            </section>
            {% endif %}
        </section>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            {% for key_value in site.socials %}
            {% if key_value[1] %}
            <li>
                <a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank"
                   rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
                    <span class="label">{{ key_value[0] }}</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <!-- Professional verification provided by Psychology Today -->
                <a href="https://www.psychologytoday.com/profile/1013993" class="sx-verified-seal"></a>
                <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="15" data-id="1013993" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
                <!-- End Verification -->
            </li>
        </ul>
        <ul class="copyright">
            <li>&copy; {{ site.title }} {{ site.subtitle }}</li>
        </ul>
    </div>

<!-- Netlify banner, not really needed -->
<!--    <img src="https://api.netlify.com/api/v1/badges/076a0b05-6cf7-4f85-9af1-333f21f09a3d/deploy-status" />-->
</footer>

</div>

<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]>
<script src="{{ " assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>

<script>
    const form = document.getElementById("form");
    const result = document.getElementById("result");
    const submitButton = document.getElementById("submit");
    const thankYouBox = document.getElementById("thank-you-box")

    eventListener = function (e) {
        submitButton.classList.add("disabled");

        const formData = new FormData(form);
        e.preventDefault();
        const object = {};
        formData.forEach((value, key) => {
            object[key] = value;
        });
        const json = JSON.stringify(object);
        submitButton.textContent = "Sending..."

        fetch("https://api.web3forms.com/submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json"
            },
            body: json
        })
            .then(async (response) => {
                let json = await response.json();
                if (response.status === 200) {
                    submitButton.classList.remove("special")
                    submitButton.textContent = "✅ Message sent";
                    thankYouBox.hidden = false
                    form.removeEventListener("submit", eventListener)
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch((error) => {
                console.log(error);
                result.innerHTML = "Something went wrong. Please try again.";
            })
            .then(function () {
                setTimeout(() => {
                    result.style.display = "none";
                }, 5000);
            });
    }
    form.addEventListener("submit", eventListener);
</script>


