<!DOCTYPE html>
<html>

{% include head.html %}

<style>
    @media (max-width: 1200px) {
        img.dynamic-sizing-image { width:10%; }
    }
    @media (max-width: 500px) {
        img.dynamic-sizing-image { width:80%; }
    }
</style>
<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <img class="dynamic-sizing-image" src="assets/images/avatar.png" width="30%" />
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="/book-a-session" class="button next scrolly">Book a session</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <section id="two">
            <div class="inner">
<!--                <header class="major">-->
<!--                    <h2>Massa libero</h2>-->
<!--                </header>-->
                <p>{{ content }}</p>
                <!--                <ul class="actions">-->
                <!--                    <li><a href="landing.html" class="button next">Get Started</a></li>-->
                <!--                </ul>-->
            </div>
        </section>

        {% include tiles.html %}
    </div>

    {% include footer.html %}

</body>

</html>
